node_modules
*-session
baileys_store.json
.vscode
.prettierrc
*-lock.json
config.json
database/*.db
test/
yarn.lock
Case-WA-bot
Case-WA-MD
argon-dashboard-tailwind
argon-dashboard-nodejs
notus-nextjs
roidev-tools-next

# managed
**.data.json
**.node-persist**
**_IGNORE_**
# end managed
